/* Flowers and Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Send+Flowers&display=swap');
@import "resetter.css";

:root{
    --primary-color:  #ececec;
    --secondary-color:  #9fd3c7;
    --tertiary-color: #385170;
    --alternative-color: #142d4c; 
}

*{ 
 box-sizing: border-box;
}

html {
    /* change value of rem */
    font-size: 10px; 
}
h1 {
    font-family: 'Send Flowers', sans-serif;
    font-size: 5rem;
}
body {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family:  'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height : 100vh;
    overflow: hidden;
}