@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Send+Flowers&display=swap');

html {
    font-weight: 300;
    font-size: $normal-size;
    
    body{
        font-family: $montserrat;
        h1 {
            font-size: $title-size;
             }
    }
    
.container{

    .title{
     
    }
    .request{

        form {
     
        }
    }
  
    .response{
        grid-row: 3/4;
        grid-column: 1/2;
        width:80vw;
        h2.responses{
           margin: 2% 0%;
        }

        .example-response{
            background-color: $primary-color;
            margin: 1% 0%;
            p{
            margin: 10px;
            padding: 1vmin;
            line-height: 2rem;
            letter-spacing: 1px;
            }
            .example-response-prompt{
                font-weight: 700;
            }
            .example-response-response{
                font-weight: 700;
            }
        }
    }
   }
 

}

