
//color
    $primary-color:  #ececec;
    $secondary-color: #142d4c ;
    $tertiary-color: #385170;
    $alternative-color: #9fd3c7; 

//fonts
    $normal-size : 0.85rem;
    $title-size: 5rem;
    $montserrat:  'Montserrat', sans-serif;
    